/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: relative;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px var(--primary-color);
  opacity: 0.9;
  background: whitesmoke;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #333;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: var(--primary-color);
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

/* Landing Page */
.landing {
  position: relative;
  height: 100vh;
}

.landing-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Utilities */
.container {
  max-width: 1100px;
  max-height: 100%;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
  position: relative;
}

/* Overlay */
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.dark-overlay.hidden {
  visibility: hidden;
}
.readme.hidden {
  visibility: hidden;
}
.guide {
  color: white;
  height: 700px;
  width: 100%;
  padding: auto;
  text-align: center;
  align-items: center;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.7);
  overflow-y: scroll;
  word-wrap: break-word;
}
.tip {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  width: 100%;
  margin: 10px;
}
.tip-child {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.tip p {
  font-size: medium;
  font-weight: normal;
  margin: 5px;
  max-width: 300px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  text-align: left;
}
.tip .x1 {
  width: 50px;
  height: 50px;
  margin: 10px;
}
.tip .x2 {
  width: 200px;
  height: 200px;
  margin: 5px;
}
.tip .x1-2 {
  width: 200px;
  height: 100px;
  margin: 5px;
}
.tip .xX {
  width: 50%;
  height: 300px;
  margin: 5px;
}
.my-1 {
  margin: 0.3rem 0;
  color: black;
  text-decoration: underline;
  font-style: italic;
}
.my-1:hover {
  color: whitesmoke;
  transform: translate(5px, 5px);
}
