/* dashboard styling */

#container-left {
  padding: 0.2rem 0.5rem;
  position: absolute;
  height: 100%;
  width: 20%;
  text-align: center;
  z-index: 1;
  /* background-color: whitesmoke; */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
#logo {
  box-shadow: 0.5rem 0.5rem black, -0.5rem -0.5rem gold;
  border-radius: 2em;
}

.menu {
  display: block;
  position: relative;
  /* border: 1px solid black; */
  margin-top: 1rem;

  /* line-height: 2; */
}
.menu a {
  display: block;
  position: relative;
  padding: 5px;
  margin: 5px;
}
.menu h1 {
  display: block;
  font-size: 15px;
  line-height: 1;
  position: relative;
  text-align: center;
  margin-bottom: 0.5rem;
  margin-top: 0;
}
.nav-buttons {
  display: flex;
  flex-direction: row;
  height: auto;
  position: relative;
  border: 4px 0 0 0 solid black;
  justify-content: space-evenly;
}
.nav-buttons button {
  border-radius: 2em;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: unset;
  font-size: 15px;
  transition: all 0.2s;
  box-shadow: 0 3px #999;
}
.nav-buttons button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.menu.tags {
  display: block;
  position: relative;
  margin-top: 0.5rem;
  width: 100%;
  border: groove lightgray;
  text-align: left;
  overflow-y: scroll;
  padding: 5px;
  border-radius: 0.5em;
  scrollbar-color: #4362ee #c2d2e4;
}
.menu.tags li {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  /* background-color: red; */
}
.menu.tags::-webkit-scrollbar {
  border-radius: 0 0.5em;
  width: 8px;
}
.menu.tags::-webkit-scrollbar-track {
  border-radius: 0 0.5em;
  box-shadow: inset 0 0 6px rgba(33, 101, 133, 0.3);
}

.menu.tags::-webkit-scrollbar-thumb {
  background-color: lightblue;

  outline: 1px solid rgb(130, 162, 195);
}
.tags button {
  margin-left: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 40%;
  background: white;
  border: 1px solid grey;
  border-radius: 2em;
}
.tags button:hover {
  background: grey;
  color: #ccc;
}
.tags button:active {
  background-color: var(--light-color);
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}
.tags.header {
  float: left;
  text-transform: uppercase;
}
.menu.tags i {
  padding-left: 5px;
}
.menu.tags i:hover {
  cursor: pointer;
}
.menu.tags i:active {
  background-color: white;
  transform: translateX(3px);
}
.dropdown {
  display: block;
  width: 100%;
  height: 200px;
  float: left;
  list-style-type: none;
}
.dropdown li {
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 3px;
  margin: 1px;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dropdown li:hover {
  background-color: gold;
  color: grey;
}
.dropdown li:active {
  background-color: whitesmoke;
  transform: translateX(3px);
}

/* end of nav bar on the left */
/* container on the right side */
.container-right {
  width: 80%;
  height: 100%;
  position: absolute;
  right: 0;
  display: block;
  float: left;
  background-image: url('https://wallpapercave.com/wp/wp7063308.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  /* filter: invert(100%); */
  filter: saturate(2);
  /* filter: grayscale(100%); */
  align-items: center;
}
.modal.greeting {
  color: black;
  font-weight: bold;
  position: relative;
  font-size: larger;
  /* border: 1px solid black; */
  top: 10%;
  left: 10%;
  width: 60%;
  height: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.modal.greeting h1 {
  font-size: 15px;
  padding: 5px;
  text-align: justify;
}
.modal.parent {
  color: black;
  position: absolute;
  /* border: 1px solid black; */
  top: 20%;
  left: 10%;
  width: 60%;
  height: 300px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.modal.parent .title {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  border-radius: 10px 10px 0 0;
  border-bottom: 2px solid black;
  padding: 5px;
  box-shadow: inset 4em 1.5em gold;
}
.filter input {
  padding-left: 5px;
  /* border: 1px solid black; */
}
.filter i:active {
  cursor: pointer;
  transform: translateY(2px);
}
.sort-tags {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  max-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.sort-tags > div {
  cursor: pointer;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.sort-tags > div:active {
  background-color: var(--light-color);
  box-shadow: 1px 2px #666;
  transform: translateY(-4px);
}
.title h2 {
  font-size: 20px;
  text-decoration: dashed;
}
.title i {
  margin: 5px;
  cursor: pointer;
}

.title i:hover .sort-tags {
  display: block;
}
.enter-bar {
  position: absolute;
  margin: 0;
  padding: 0;
  display: flex;
  bottom: 0;
  width: 100%;
  border-top: 5px solid gold;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
}
.modal.parent .enter-bar input {
  position: relative;
  /* margin: 1px; */
  float: left;
  width: 90%;
  display: block;
  align-items: flex-start;
  border-radius: 5px;
  padding: 3px;
}
.modal.parent .enter-bar i {
  position: relative;
  width: 5%;
  color: palevioletred;
  margin: 0;
  padding: 0px;
  cursor: pointer;
  border: 1px solid palevioletred;
  border-radius: 2em;
}
.modal.parent .enter-bar i:active {
  background-color: pink;
  border-radius: 2em;
  transform: translateY(-5px);
}
.task-list {
  overflow-y: scroll;
  width: 100%;
  height: 75%;
  scrollbar-color: #0a4c95 #c2d2e4;
}
.task-item {
  padding: 10px;
  border-bottom: 1px solid grey;
  /* border-radius: 1em; */
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
}
.task-item p {
  /* border: 1px solid black; */
  order: 1;
  /* width: 100%; */
  word-wrap: break-word;
  line-height: 1.2;
  width: 70%;
}
.due {
  background-image: linear-gradient(to top left, #9fa0ff, #757bc8);
  color: whitesmoke;
}
.due-reminder {
  /* border: 1px solid black; */

  animation: flicker 1.5s infinite alternate;
  color: #fff;
  padding-bottom: 5px;
}
/* Flickering animation */
@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #fff, 0 0 10px #fff, 0 0 20px #fad2e1, 0 0 10px #fad2e1;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

.task-item small {
  font-style: normal;
  order: 2;
}
.task-item div {
  /* border: 1px solid black; */
  padding-left: 3px;
  flex: 1 30%;
  order: 2;
  display: flex;
  align-items: center;
  align-self: baseline;
  justify-content: space-evenly;
  max-width: 30%;
}
.task-item p {
  padding: auto;
}
.task-item button {
  padding: 5px;
  margin: 3px;
  background-color: antiquewhite;
  border-radius: 2em;
  box-shadow: 3px 0px #999;
}
.task-item small {
  /* border: 1px solid black; */
  flex: 1 100%;
  order: 3;
  font-style: italic;
  padding-left: 3px;
  padding-top: 5px;
}
.task-item.checked {
  background-color: #ccc;
  opacity: 0.5;
}
.task-item.checked p {
  text-decoration: line-through;
}
.task-list::-webkit-scrollbar {
  width: 8px;
}
.task-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(33, 101, 133, 0.3);
}

.task-list::-webkit-scrollbar-thumb {
  background-color: lightblue;

  outline: 1px solid rgb(130, 162, 195);
}
